[submodule "projects/app"]
	path = projects/app
	url = git@github.com:farazdagi/rest-tickets-app.git
[submodule "projects/api"]
	path = projects/api
	url = git@github.com:farazdagi/rest-tickets-api.git
[submodule "projects/db"]
	path = projects/db
	url = git@github.com:farazdagi/rest-tickets-db.git
